#content-tables{
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: start;
}
#content-tables table{
    margin: 0;
}

/* Cuadro responsivo */
#content-responsive{
    max-width: 600px;
    min-width: 300px;
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.c1, .c2, .c3, .c4, .c5, .c6{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.c1{background-color: #003476;}
.c3{background-color: #b4d2f7;}
.c4{background-color: #d5dfef;}
.c5{background-color: #dfe1e5;}
.c6{background-color: #ffffff; color: black;}
.c2{
    background-color: #0062d2;
    height: 250px;
    gap: 20px;
}
.c2 > div{
    border: 1px solid;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.c2 > div:nth-child(1){width: 40%;}
.c2 > div:nth-child(2){width: 20%;}

@media (min-width: 600px){
    .c3, .c4 {
        width: 50%;
    }
}

@media (min-width: 800px){
    .c3, .c4 , .c5{
        width: 33.33333333%;
    }
}



