*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
}

.container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
.c1, .c2, .c3, .c4, .c5, .c6{
    width: 100%;
    height: 200px;
}
.c1{background-color: #003476;}
.c2{height: auto; border: 1px solid black; box-sizing: border-box;}
.c3{background-color: #0062d2;}
.c4{background-color: #b4d2f7;}
.c5{background-color: #d5dfef;}
.c6{background-color: #dfe1e5;}
